MainWindow {
    background-color: darkred;
}

Settings {
    background-color: darkred;
}

Game {
    background-color: dimgray;
}

QPushButton {
    border-radius: 10px;
    background-color: darkseagreen;
}

QLabel {
    color: chartreuse;
}